<div class="main-container">
  <%= simple_form_for @booking do |f| %>
  <%= f.hidden_field :car_id, value: @car.id %>
  <%= f.input :starting_day %>
  <%= f.input :ending_day %>
  <%= f.submit "book it", class: 'btn btn-primary' %>
  <% end %>
</div>


