<div class="col offset-3">
  <h1 class="text center mt-3" >welcome to your Dashboard <%= current_user.first_name%></h1>
</div>
<div class="main-container">
  <h3>Your cars <small>(click to update)</small></h3>
  <div class="owned-cars">
    <% @cars.each do |car| %>
      <%= render "cars/car_dashboard_card", car: car %>
    <% end %>
  </div>
  <div class="bookings">
    <div class="owned-booking">
      <h3> Your cars was booked by :</h3>
        <% @owned_cars_bookings.each do |booking| %>
          <p><strong>Louée par: </strong><%= booking.user.email %></p>
          <p><%= booking.car.brand %> <%= booking.car.model%></p>
          <p>votre voiture a été louée jusqu'au <%= booking.ending_day %> pour <%= booking.amount %>€</p>
        <% end %>
    </div>
    <div class="wanted-booking">
      <h3>Bookings you have done:</h3>
      <div class="bookings-list">
        <% @bookings.each do |booking| %>
          <p><%= booking.car.brand %> <%= booking.car.model%> <small>(<%= booking.car.user.email %>)</small></p>
          <p><small>Vous l'avez loué pour 4 jours, celà vous a couté <%= booking.amount %>€ </small></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="new-form">
    <%= render 'cars/car_form', car: @car %>
  </div>
  <%= link_to "back to list", cars_path, class: "btn btn-warning" %>
</div>
