<div class="col offset-3">
  <h1 class="text center mt-3" >welcome to your Dashboard <%= current_user.first_name%></h1>
</div>
<div class="main-container">

  <h3>Your cars <small>(click to update)</small></h3>
  <div class="cars">
    <% @cars.each do |car| %>
      <%= link_to edit_car_path(car) do %>
        <div class="car-card">
          <%= instance_image_tag car.picture, class: "car-img" %>
          <div class="car-bottom">
            <div class="car-bottom-header">
              <div class="car-bottom-model">
                <p><%= car.brand %> <%= car.model %></p>
              </div>
              <div class="car-bottom-price">
                <p><%= car.price %>€/jour</p>
              </div>
            </div>
            <div class="car-bottom-rating">
              <% 5.times do %>
                <i class="fas fa-star"></i>
              <% end %>
            </div>
            <div class="car-bottom-description">
              <p> <%= car.description %> </p>
            </div>
          <%= link_to "⨯", car_path(car), method: :delete, data: { confirm: "Are you sure?" }, style: 'display: block;'  %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="new-form">
    <%= simple_form_for @car, remote: true do |f| %>
    <%= f.input :brand %>
    <%= f.input :model %>
    <%= f.input :power %>
    <%= f.input :year, as: :integer %>
    <%= f.input :price %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.submit "create your car", class: "btn btn-success" %>
    <% end %>
  </div>
  <div class=" actions d-flex">
 <!--    <div class="action m-2">
      <%#= link_to "Add a car", new_car_path, class: 'btn btn-warning'  %>
    </div> -->
    <div class="action m-2">
      <%= link_to "back to list", cars_path, class: "btn btn-warning" %>
    </div>
  </div>
</div>
