<div class="car-card">
  <%= link_to edit_car_path(car) do %>
    <%= instance_image_tag car.picture, class: "car-img" %>
    <div class="car-bottom">
      <div class="car-bottom-header">
        <div class="car-bottom-model">
          <p><%= car.brand %> <%= car.model %></p>
        </div>
        <div class="car-bottom-price">
          <p><%= car.price %>€/jour</p>
        </div>
      </div>
      <div class="car-bottom-rating">
        <% 5.times do %>
          <i class="fas fa-star"></i>
        <% end %>
      </div>
      <div class="car-bottom-description">
        <p> <%= car.description %> </p>
      <%= link_to "⨯", car_path(car), method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  <% end %>
</div>
