<h1>welcome to the update</h1>

<div class="main-container">
  <%= instance_image_tag @car.picture, class: "car-img" %>
  <%= simple_form_for @car do |f| %>
  <%= f.input :brand %>
  <%= f.input :model %>
  <%= f.input :year, as: :integer %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.submit %>
  <% end %>
</div>
