<div class="index-container">
  <div class="cars">
    <% @cars.each do |car| %>
      <%= link_to car_path(car) do %>
        <div class="car-card">
          <%= instance_image_tag car.picture, class: "car-img",  height: 160, crop:"scale" %>
          <div class="car-bottom">
            <div class="car-bottom-header">
              <div class="car-bottom-model">
                <p><%= car.brand %> <%= car.model %></p>
              </div>
              <div class="car-bottom-price">
                <p><%= car.price %>€/jour</p>
              </div>
            </div>
            <div class="car-bottom-rating">
              <% 5.times do %>
                <i class="fas fa-star"></i>
              <% end %>
            </div>
            <div class="car-bottom-description">
              <p> <%= car.description.truncate(90) %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div
    id="map"
    style="width: 100%;
    margin-top:16px;
    height: 90vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
